<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/css/Detail.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet" />
   
    <link href="~/lib/vendor/css-hamburgers/hamburgers.css" rel="stylesheet" />
    <link href="~/lib/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
   
    <link href="~/lib/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/lib/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />

    <link href="~/vendor/animate/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/EmployeeManagementSystem.styles.css" asp-append-version="true" />
</head>
<body> 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/vendor/bootstrap/js/popper.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/vendor/tilt/tilt.jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/detailpagescript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
